#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: var(--color-black);
    padding-bottom: 2rem;

    & #contactPage-heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 4rem;
        padding-right: 0.2rem;
        padding-left: 0.2rem;

        & #contactPage-heading__heading {
            font-family: 'ivy-presto-headline-light', sans-serif;
            font-size: 3rem;
            color: var(--color-white);
            max-width: 1440px;
            letter-spacing: .29313rem;
            line-height: 1.5;
            font-weight: 700;
        }

        & #contactPage-heading__text {
            font-family: 'ivy-presto-headline-light', sans-serif;
            font-size: 1.25rem;
            color: var(--color-star-gray);
            font-weight: 400;
            line-height: 28px;
            max-width: 850px;
            letter-spacing: 1px;
        }
    }

    & #contact-information {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
        padding: 3rem;

        & .contact-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;

            & .contact-item__heading {
                font-family: 'ivy-presto-headline-light', sans-serif;
                font-size: 1.6rem;
                color: var(--color-white);
                padding-top: 0.5rem;
                text-align: center;
            }

            & .contact-item__text {
                font-family: 'ivy-presto-headline-light', sans-serif;
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: var(--color-footer-text);
                text-align: center;
                letter-spacing: 1px;
            }
        }

        & .email {
            border-radius: 30px;
        }

        & .phone {
            border-top-right-radius: 50px;
            border-bottom-left-radius: 50px;
        }

        & .phone,
        .email {
            padding: 1.5rem;
        }

        & .location {
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }

        & .phone,
        .email,
        .location {
            width: 100px;
            border: 1px solid var(--color-contact-icon);
        }
    }

    & #contactPage-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        text-align: left;
    }
}

@media (max-width: 750px) {
    #contactPage {
        & #contact-information {
            gap: 3rem;
        }

        & #contactPage-form {
            width: 95%;
        }
    }
}

@media (max-width: 500px) {
    #contactPage {
        gap: 2rem;
        
        & #contactPage-heading {
            text-align: center;
            padding-top: 3rem;

            & #contactPage-heading__heading {
                font-size: 2rem;
            }
        }
        & #contactPage-form {
            & #contactForm {
                padding: 1rem 0;
            }
        }
    }
}