#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: var(--color-black);
    padding-bottom: 2rem;

    & #contactPage-heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 4rem;

        & #contactPage-heading__heading {
            font-size: 3rem;
            color: var(--color-white);
            font-family: 'ivy-presto-headline-light', sans-serif;
            letter-spacing: .29313rem;
            line-height: 1.5;
            font-weight: 700;
            text-align: center;
        }

        & #contactPage-heading__text {
            font-family: itc-avant-garde-gothic-medium, sans-serif;
            font-size: 1.2rem;
            text-align: center;
            color: var(--color-footer-text);
            max-width: 45rem;
        }
    }

    & #contact-information {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
        padding: 3rem;

        & .contact-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;

            & .contact-item__heading {
                font-family: 'brandon-grotesque';
                font-size: 1.6rem;
                color: var(--color-white);
                padding-top: 0.5rem;
                text-align: center;
            }

            & .contact-item__text {
                font-family: 'brandon-grotesque';
                font-size: 1.2rem;
                line-height: 1.2rem;
                color: var(--color-footer-text);
                text-align: center;
            }
        }

        & .email {
            border-radius: 30px;
        }

        & .phone {
            border-top-right-radius: 50px;
            border-bottom-left-radius: 50px;
        }

        & .phone,
        .email {
            padding: 1.5rem;
        }

        & .location {
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }

        & .phone,
        .email,
        .location {
            width: 100px;
            border: 1px solid var(--color-contact-icon);
        }
    }

    & #contactPage-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        text-align: left;

        & #contactPage-form__heading {
            color: var(--color-white);
            font-family: "ivy-presto-headline-light";
            width: 100%;
        }

        & #contactPage-form__text {
            color: var(--color-footer-text);
            font-family: "brandon-grotesque";
            width: 100%;
        }
    }
}

@media (max-width: 750px) {
    #contactPage {
        & #contactPage-form {
            width: 95%;
            padding-right: 1rem;
        }
    }
}

@media (max-width: 500px) {
    #contactPage {
        gap: 2rem;
        
        & #contactPage-heading {
            padding-top: 2rem;
        }
        & #contactPage-form {
            & #contactForm {
                padding: 1rem 0;
            }
        }
    }
}