#visionPage {
    display: flex;
    background-image: url("/india.webp");
    background-size: cover;
    background-repeat: no-repeat;

    & .vision-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: radial-gradient(at 300px 300px, rgba(1,0,1,.9) 0, #000000 70%);
        gap: 1.5rem;
        text-align: left;
        width: 100%;
        height: 100%;
        padding: 8rem;
        min-height: 40rem;

        & #vision__heading {
            font-family: 'ivy-presto-headline-light', sans-serif;
            font-size: 3rem;
            color: var(--color-white);
            max-width: 1440px;
            letter-spacing: .29313rem;
            line-height: 1.5;
            font-weight: 700;
        }

        & #vision__text {
            font-family: itc-avant-garde-gothic-medium, sans-serif;
            font-size: 1.2rem;
            color: var(--color-footer-text);
            font-weight: 400;
            line-height: 24px;
            max-width: 750px;
        }
    }
}

@media (max-width: 700px) {
    #visionPage {
        & .vision-content {
            padding: 4rem;

            & #vision__heading {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    #visionPage {
        & .vision-content {
            padding: 2rem;
        }
    }
}