#gamePage {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    & #game-top {
        display: flex;
        flex-direction: row;
        padding-top: 5rem;
        padding-bottom: 5rem;
        gap: 4rem;
    }
    
    & #game-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 15;

        & > img {
            width: 80%;
            object-fit: contain;
            aspect-ratio: 10 / 10;
        }
    }

    & #game-details {
        display: flex;
        flex-direction: column;
        flex: 10;
        gap: 3rem;
        text-align: left;

        & #game-information__heading {
            font-family: 'ivy-presto-headline-light';
            letter-spacing: 1px;
            font-size: 2rem;
        }

        & .reviews-and-favourite-button {
            display: flex;
            justify-content: space-between;

            & .game-favourite-icon {
                cursor: pointer;
                font-size: 1.5rem;
            }

            & .game-reviews-summary {
                text-align: center;
            }
        }

        & #game-information__description {
            font-size: 1.2rem;
            font-family: 'brandon-grotesque';
            white-space: break-spaces;
        }
    }
}