#gamesPage {
    display: flex;
    flex-direction: row;
    background-color: #F2EBE7;
    gap: 2rem;
    padding: 2rem;

    & #game-filters-panel {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: var(--color-white);
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        & .game-filters-panel__accordion {
            display: flex;
            flex-direction: column;

            & .filter-card-header {
                display: flex;
                align-items: flex-start;
                gap: 0.3rem;
                padding: 1rem;
                border-bottom: 1px solid var(--color-border);

                &:hover {
                    color: var(--color-text-heading);
                    cursor: pointer;
                }

                & .filter-card-header__caret {
                    width: 10px;
                    transform: scaleX(2);
                }

                & .filter-card-title {
                    font-family: 'regular-gibson';
                    font-size: 1rem;
                    font-weight: 100;
                }
            }

            & .filter-card-collapsible {
                display: flex;
                padding-left: 0.5rem;
                padding-right: 1rem;
                max-height: 0;
                overflow: hidden;
                transition: all 0.2s;
                
                & .filter-card-body {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0.5rem;
                    padding-top: 1rem;

                    & .filter-card-body-data {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        & > input {
                            position: relative;
                            height: 20px;
                            width: 20px;
                            cursor: pointer;
                            appearance: none;
                            border: 1px solid var(--color-black);
                            border-radius: 4px;

                            &::before {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                white-space: pre;
                                content: " ";
                            }

                            &:checked::before {
                                background-color: var(--color-black);
                                color: var(--color-white);
                                content: "\2713";
                                font-size: 1.4rem;
                                line-height: 20px;
                            }
                        }

                        & .filter-card-body-data__title {
                            font-family: 'regular-gibson';
                            font-size: 1rem;
                            font-weight: 100;
                        }
                    }

                    & .filter-card-body-data__amount {
                        font-family: 'regular-gibson';
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }

            & .dropdown {
                max-height: 2000px;
                transition: max-height 2s;
            }
        }
    }

    & #games-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        flex: 3;
    }
}