#gamesPage {
    display: flex;
    flex-direction: row;
    background-color: var(--color-games-background);
    gap: 2rem;
    padding: 2rem;

    #games-page-header {
        display: none;
    }

    & #game-filters-panel {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: var(--color-white);
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    & #games-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        flex: 3;

        & #applied-filters {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #F2EBE7;
            border: 5px solid var(--color-white);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            & .applied-filters__title {
                font-family: 'brandon-grotesque';
                font-weight: 300;
                font-size: 1.2rem;
                letter-spacing: 1px;
                padding: 1rem;
                padding-bottom: 0;
            }

            & .applied-filters__list {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                padding: 1rem;
            }
        }
    }
}

@media (max-width: 1250px) {
    #gamesPage {
        flex-direction: column;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        #games-page-header {
            display: flex;
            background-color: var(--color-logo-background);
            padding: 1rem;
        }

        & #game-filters-panel {
            display: none;
        }

        & #games-list {
            align-items: center;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (max-width: 800px) {
    #gamesPage {
        & #games-list {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}