#controllerForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--color-black-light);
    max-width: fit-content;
    padding: 2rem;
    border: 2px solid var(--color-black);
    border-radius: 4px;
    margin-top: 2rem;
    
    & .controllers {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 5rem;

        & .player2-controller,
        & .player1-controller {
            display: flex;
            flex-direction: column;

            & .inputs {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        & .player1-controller {
            color: var(--color-player-1);

            .form__field-label {
                color: var(--color-player-1);
            }
        }

        & .player2-controller {
            color: var(--color-player-2);

            .form__field-label {
                color: var(--color-player-2);
            }
        }
    }

    & > button {
        align-self: flex-end;
        margin-top: 1rem;
    }

    ~ .message-failure,
    ~ .message-success {
        font-family: 'Inter';
        width: fit-content;
        align-self: center;
        margin: 0;
        margin-top: 1rem;
    }
}

@media (max-width: 450px) {
    #controllerForm {
        & .controllers {
            gap: 2rem;

            & .player2-controller,
            & .player1-controller {
                & .bit-font {
                    align-self: center;
                }
                
                & .inputs {
                    justify-content: center;
                }
            }
        }
    }
}