#dashboardPage {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--color-games-background);

    & .dashboard-title {
        align-self: center;
        font-size: 2rem;
        font-family: regular-gibson, sans-serif;
        letter-spacing: 1px;
    }

    & .logout-button {
        display: flex;
        align-self: center;
        gap: 0.3rem;
        margin-bottom: 1rem;

        & .material-symbols-outlined {
            font-size: 1.1rem;
            align-content: center;
        }

        & .logout-button-text {
            font-family: "brandon-grotesque";
            font-size: 1rem;
        }
    }
}