#reviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-form-border);
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px #00000026;
    padding: 2rem;
    border-radius: 6px;
    width: 100%;
    background: rgba(100, 100, 100, .15);
    backdrop-filter: blur(10px);

    & #name-email-section {
        display: flex;
    }

    .input:first-of-type {
        border-radius: 6px 6px 0 0;
        border-bottom: 0.5px solid var(--color-form-border-bottom);
    }

    .input:last-of-type {
        border-radius: 0 0 6px 6px;
        border-top: 0;
    }

    & .information-input {
        display: flex;
        flex-direction: column;
        width: 90%;
        color: var(--color-white);
        padding: 8px 12px;

        & .input-label {
            text-transform: uppercase;
            font-size: .63rem;
            font-weight: 300;
            padding: 3px 12px;
            letter-spacing: 2px;
            text-align: left;
        }

        & .input-field {
            background-color: var(--color-black);
            border-color: var(--color-black);
            color: var(--color-white);
            padding-left: 1rem;
            border-style: none;
            appearance: none;
            border-radius: 6px;
            box-shadow: none;
            height: 50px;
            font-size: 1rem;
            transition: all 0.5s;
        }

        & .input-field:focus {
            outline: none;
            border-color: var(--color-white);
            box-shadow: inset 0 1px 3px #FFFFFF20, 0 0 10px 1px #FFFFFF80;
            transition: all 0.5s;
        }

        & #message {
            margin: 0;
            box-sizing: border-box;
            resize: none;
            min-height: 15rem;
            font-size: 1rem;
            padding-top: 0.5rem;
            padding-left: 1rem;
        }
    }

    & .message-success, 
    .message-failure {
        margin-top: 1rem;
    }

    & #submitButton {
        width: 85%;
        margin-top: 2rem;
    }
}