.review-card {
    display: flex;
    flex-direction: row;
    font-family: "brandon-grotesque", sans-serif;
    width: 100%;
    padding: 2rem;
    background-color: var(--color-almost-white);
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid lightgray;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & .reviewer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1rem;
        flex: 2;
        gap: 0.3rem;
        text-align: left;

        & .review-name {
            font-size: 1rem;
        }

        & .review-date {
            font-size: 12px;
            font-weight: 100;
            letter-spacing: 1px;
        }

        & .review-verified {
            display: flex;
            align-items: center;
            padding: 0.2rem 0.5rem;
            font-family: "brandon-grotesque", sans-serif;
            font-size: 1rem;
            letter-spacing: 1px;
            border-radius: 8px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
            background-color: var(--color-black-light);
            color: var(--color-contact-icon);
            width: fit-content;
        }
    }

    & .review-content {
        display: flex;
        flex-direction: column;
        flex: 7;
        gap: 0.6rem;
        text-align: left;
        
        & .review-heading {
            font-size: 1rem;
        }

        & .review-text {
            font-size: 1rem;
            font-weight: 100;
            white-space: pre-line;
        }
    }
}

@media (max-width: 500px) {
    .review-card {
        flex-direction: column;

        & .reviewer {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}