#reviews-list {
    display: flex;
    flex-direction: column;

    & #reviews-list__heading {
        font-family: "ivy-presto-headline-light", Helvetica, Arial, sans-serif;
        font-size: 40px;
        line-height: 1.2;
        align-self: center;
    }

    & #reviews-content {
        display: flex;
        flex-direction: column;

        & #reviews-rating {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;
            font-family: "brandon-grotesque", sans-serif;
            font-size: 14px;

            & .reviews-border {
                border-left: 1px solid;
                height: 19px;
            }
        }

        & #reviews-sort {
            align-self: flex-end;
            font-family: "brandon-grotesque", sans-serif;
            padding-right: 4rem;

            & #reviews-sort-label {
                vertical-align: top;
            }

            & #reviews-sort-select,
            ::picker(select) {
                appearance: base-select;
                align-items: center;
                width: fit-content;
                font-family: "brandon-grotesque", sans-serif;
                padding: 0.1rem;
                cursor: pointer;
                border: none;
                outline: none;
                background-color: var(--color-games-background);

                & .reviews-sort-select__options {
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    border: 1px solid var(--color-border);
                    border-radius: 3px;
                }
            }

            option {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                width: 200px;

                &:checked {
                    background: lightgray;
                }
            }

            option::checkmark {
                color: var(--color-success);
                font-size: 1.5rem;
            }
        }

        & #reviews {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding-top: 1rem;
        }
    }
}

@media (max-width: 500px) {
    #reviews-list {
        & #reviews-content {
            & #reviews-rating {
                font-size: 13px;
            }
        }
    }
}