.review-card {
    display: flex;
    flex-direction: row;
    font-family: "brandon-grotesque", sans-serif;
    width: 100%;
    padding: 2rem;
    background-color: var(--color-games-background);
    padding: 1rem;
    border-radius: 9px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & .reviewer {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        flex: 2;
        gap: 0.3rem;
        text-align: left;

        & .review-name {
            font-size: 1rem;
        }

        & .review-date {
            font-size: 12px;
            font-weight: 100;
            letter-spacing: 1px;
        }
    }

    & .review-content {
        display: flex;
        flex-direction: column;
        flex: 7;
        gap: 0.6rem;
        text-align: left;
        
        & .review-heading {
            font-size: 1rem;
        }

        & .review-text {
            font-size: 1rem;
            font-weight: 100;
            white-space: pre-line;
        }
    }
}