.game-card {
    display: flex;
    background-color: var(--color-white);
    padding: 8px 8px 0;
    border-radius: 1rem;
    flex-wrap: nowrap;
    min-height: 12rem;
    max-width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    & .game-image {
        display: flex;
        align-items: center;
        width: 25%;

        & > img {
            width: 100%;
            height: 80%;
            object-fit: contain;
        }
    }

    & .game-information {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 50%;
        padding-left: 2rem;
        text-decoration: none;

        & .game-information__link {
            text-decoration: none;
            transition: color 0.5s;

            &:visited {
                color: var(--color-black);
            }

            &:hover {
                color: var(--color-search-text);
                transition: color 0.5s;
            }

            & .game-information__heading {
                font-size: 2rem;
                font-family: 'ivy-presto-headline-light';
                text-align: left;
                color: var(--color-black);
            }
        }

        & .game-information__description {
            font-size: 1rem;
            font-family: 'brandon-grotesque';
            text-align: left;
        }
    }

    & .game-details {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding: 0.5rem;
        width: 25%;

        & .game-details__reviews {
            & > p {
                text-align: center;
            }
        }

        & .game-favourite-icon {
            font-size: 1.5rem;
            cursor: pointer;
        }

        & .game-details__heading {
            font-size: 2rem;
            font-family: "cf-gibson", Helvetica, Arial, sans-serif;
        }
    }
}