.favourite-card {
    display: flex;
    gap: 1rem;
    margin-right: 0.5rem;
    background-color: var(--color-promises-background);
    border-radius: 4px;
    min-height: 6.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    & .favourite-card__image {
        max-width: 4.8rem;
        width: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    & .favourite-card-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0.3rem;
        width: 100%;
        text-align: left;

        & .favourite-card__title {
            font-family: "brandon-grotesque", sans-serif;
            font-size: 0.9rem;
            font-weight: 900;
            text-transform: uppercase;
            flex-wrap: wrap;
            letter-spacing: .09375rem;
            line-height: 1.1875rem;
            text-decoration: none;
            color: var(--color-black);
            padding-right: 0.1rem;
            width: fit-content;

            &:hover {
                opacity: 0.8;
            }
        }

        & .favourite-card-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            & .favourite-card-tag {
                font-family: brandon-grotesque, sans-serif;
                font-size: 12px;
                padding: 1px 5px;
                border: 1px solid lightgray;
                color: #61666b;
                background-color: var(--color-logo-background);
                border-radius: 3px;
                letter-spacing: 1px;
            }
        }

        & .favourite-card__button {
            font-family: "brandon-grotesque", sans-serif;
            text-transform: uppercase;
            color: var(--color-text-heading);
            font-size: 9px;
            margin-top: 0.4rem;
            width: fit-content;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}