.appliedFilter {
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-white);
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;

    & .appliedFilter__text {
        display: flex;
        font-family: 'ivy-presto-headline-light';
        color: var(--color-footer-text);
        font-size: 1rem;
        letter-spacing: 2px;
        padding-bottom: 0.1rem;
    }

    & .appliedFilter__cross {
        display: flex;
        align-self: center;
        background-color: lightgray;
        padding: 0.3rem;
        border-radius: 100%;
        height: fit-content;
        font-size: 0.7rem;
    }

    &:hover {
        background-color: var(--color-warning);

        & .appliedFilter__text {
            color: var(--color-white);
        }
    }
}