.cartridge {
    margin-bottom: 3rem;
    position: relative;

    & .cartridge-image {
        width: 30.95em;
        height: 35.7em;
    }

    & .cartridge-cover {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 32px;
        margin-top: 10px;
        height: 371px;
        width: 261px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        filter: drop-shadow(1.5px 1.5px 1px rgba(44, 44, 46, 0.72));
    }
}