#emulator {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & canvas {
        margin: 2rem 0;
        background: #eee;
        width: 768px;
        height: 720px;
        align-self: center;
    }
}

@media (max-width: 850px) {
    #emulator {
        & canvas {
            width: 100%;
            height: 100%;
        }
    }
}