#emulator {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    & #reload-emulator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        left: 0;
        top: 15rem;
        max-width: 12rem;
        text-align: center;
        padding: 1rem;
        background-color: var(--color-active-navicon);
        border: 1px solid var(--color-black);
        border-radius: 4px;

        & .reload-emulator__text {
            font-family: 'brandon-grotesque', sans-serif;
            font-size: 1rem;
        }

        & #player1-controller {
            display: flex;
            flex-direction: column;

            & .player1-controller__title {
                font-family: 'brandon-grotesque', sans-serif;
                font-size: 1.2rem;
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
            }

            & .player1-controller__text {
                font-family: 'brandon-grotesque', sans-serif;
                font-size: 1.1rem;
                font-weight: 100;
                text-align: left;
            }
        }
    }

    & > canvas {
        margin: 2rem 0;
        background: #eee;
        width: 768px;
        height: 720px;
        align-self: center;
    }
}

@media (max-width: 1250px) {
    #emulator {
        flex-direction: column;

        & #reload-emulator {
            position: static;
            max-width: 500px;
            margin-top: 2rem;
            padding: 0.5rem;
            gap: 0.5rem;
        }
    }
}

@media (max-width: 850px) {
    #emulator {
        & canvas {
            width: 100%;
            height: 100%;
        }
    }
}