.rangeSlider {
    width: 100%;
    
    & .slider {
        appearance: none;
        width: 100%;
        height: 25px;
        background: gainsboro;
        border-radius: 16px;
        border: 2px solid var(--color-black);
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;

        &:hover {
            opacity: 1;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: var(--color-slider-knob);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 40px;
            height: 40px;
            background: var(--color-slider-knob);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    & .slider-text {
        font-family: 'ivy-presto-headline-light';
        font-size: 1rem;
        text-align: center;
    }
}