.tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;

    & .tag-text {
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        padding: 5px 10px;
        border-radius: 20px;
        background: linear-gradient(180deg, var(--charcoal), var(--charcoal-dark));
        color: #ddd;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .tag {
        padding: 5px 10px;
    }
}