.tag {
    display: flex;
    padding: 1px 5px;
    border: 1px solid lightgray;
    background-color: var(--color-logo-background);
    border-radius: 3px;

    & .tag-text {
        font-family: brandon-grotesque, sans-serif;
        font-size: 12px;
        color: #61666b;
        letter-spacing: 1px;
    }
}

@media (max-width: 500px) {
    .tag {
        padding: 5px 10px;
    }
}