#emulatorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & canvas {
        margin: 2rem 0;
        background: #eee;
        width: 768px;
        height: 720px;
        align-self: center;
    }
}