#landingPage {
    display: flex;
    flex-direction: column;

    & #landing-popular {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 5rem;
        padding-bottom: 3rem;

        & #landing-popular__heading {
            font-family: "brandon-grotesque";
            font-size: 2.25rem;
            font-weight: 100;
            line-height: 2.8125rem;
            text-transform: uppercase;
            letter-spacing: .125rem;
        }

        & #landing-popular-list {
            display: flex;
            gap: 5rem;
        }
    }

    & #landing-promises {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: rgb(238, 242, 244);

        & #landing-promises__heading {
            font-family: "ivy-presto-headline-light";
            font-size: 40px;
            letter-spacing: 3px;
            font-weight: 400;
            padding-bottom: 0.5rem;
        }

        & #landing-promises-list {
            display: flex;
            gap: 4rem;

            & .landing-promises-list__heading {
                font-family: "brandon-grotesque";
                font-size: 1rem;
            }
        }
    }
}