#landingPage {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    & #game-battletoads {
        display: flex;
        align-self: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 5rem;

        & .game-battletoads__text {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .game-battletoads__italic {
                font-family: "ivy-presto-headline-light";
                font-style: italic;
                font-size: 30px;
            }

            & .game-battletoads__heading {
                font-family: "ivy-presto-headline-light";
                font-size: 3rem;
            }

            & .game-battletoads__text {
                font-family: "brandon-grotesque";
                font-size: 18px;
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        & #game-battletoads__figure {
            display: flex;
            justify-content: center;

            & > img {
                max-width: 650px;
            }
        }
    }

    & #landing-promises {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: var(--color-promises-background);

        & #landing-promises__heading {
            font-family: "ivy-presto-headline-light";
            font-size: 40px;
            letter-spacing: 3px;
            font-weight: 400;
            padding-bottom: 0.5rem;
            text-align: center;
        }

        & #landing-promises-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4rem;

            & .landing-promises {
                text-align: center;

                & .landing-promises-list__heading {
                    font-family: "brandon-grotesque";
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #landingPage {
        & #game-battletoads {
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 650px) {
    #landingPage {
        padding-top: 1rem;
        gap: 0;

        & #game-battletoads {
            & #game-battletoads__figure {
                & > img {
                    max-width: 320px;
                }
            }

            & .game-battletoads__text {
                & .game-battletoads__italic {
                    font-size: 22px;
                    padding-top: 1rem;
                }

                & .game-battletoads__heading {
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
    }
}