#helpCenterPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
    background-color: var(--color-black);
    text-align: left;

    & #help__heading {
        font-size: 3rem;
        color: var(--color-white);
        font-family: 'ivy-presto-headline-light';
        letter-spacing: 3px;
    }

    & #help__text {
        font-size: 1.2rem;
        color: var(--color-footer-text);
        font-family: 'Inter', sans-serif;
        max-width: 50rem;

        & > a {
            font-family: "brandon-grotesque", sans-serif;
            font-weight: 900;
            font-size: 1.4rem;
            color: var(--color-text-heading);
            text-decoration: none;
        }
    }

    & #help-questions {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 8rem;
        color: var(--color-white);
        font-family: 'Inter', sans-serif;

        & .answer-section {
            gap: 1rem;

            & .answer-section__text{
                color: var(--color-footer-text);

                & .answer-section__link {
                    text-decoration: none;
                    color: var(--color-text-heading);

                    &:hover {
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #helpCenterPage {
        padding: 2rem;

        & #help__heading {
            font-size: 2.2rem;
        }

        & #help-questions {
            padding-top: 3rem;

            & .answer-section {
                & .answer-section__heading {
                    font-size: 23px;
                }
            }
        }
    }
}