#landing-slider {
    display: flex;
    justify-content: center;
    align-items: center;

    & #slide-space {
        display: flex;
        width: 100%;
        height: 40rem;

        & #slides {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }

        & #slide-battletoads {
            padding: 2rem;
            position: absolute;

            & #game-battletoads {
                display: flex;
                flex-direction: column;
                align-self: center;
                align-items: center;
                flex: 1;

                & .game-battletoads__italic {
                    font-family: "ivy-presto-headline-light";
                    font-style: italic;
                    font-size: 30px;
                }

                & .game-battletoads__heading {
                    font-family: "ivy-presto-headline-light";
                    font-size: 3rem;
                }

                & .game-battletoads__text {
                    font-family: "brandon-grotesque";
                    font-size: 18px;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }

            & #game-battletoads__image {
                display: flex;
                flex: 1;
            }
        }

        & #slide-cartridges {
            position: relative;
            height: 100%;

            & #slide-cartridges__image {
                display: flex;
                width: 100%;

                & > img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            & #mapper-cartridges {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                color: var(--color-white);
                width: fit-content;
                padding-right: 1rem;
                text-align: right;

                & .mapper-cartridges__heading {
                    font-family: "ivy-presto-headline-light";
                    font-size: 3rem;
                    backdrop-filter: brightness(0.5);
                    padding: 0.5rem 1rem;
                    border-radius: 99%;
                }

                & .mapper-cartridges__text {
                    display: flex;
                    align-self: flex-end;
                    width: fit-content;
                    gap: 0.5rem;
                    font-family: "brandon-grotesque";
                    font-size: 1rem;
                    backdrop-filter: brightness(0.5);
                    border-radius: 80%;
                    padding: 0.5rem 1rem;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }

                & .play-button {
                    align-self: flex-end;
                    color: var(--color-black);
                    background-color: var(--color-white);
                }
            }
        }

        & .slide {
            animation: 1s ease-in-out hideSlide both;
        }

        & .slide-reverse {
            animation: 1s ease-in-out hideSlideReverse both;
        }

        & .slide,
        .slide-reverse,
        .active-slide,
        .active-slide-reverse {
            display: flex;
            height: 40rem;
            width: 100%;
        }

        & .active-slide {
            animation: 1s ease-in-out showSlide both;
        }

        & .active-slide-reverse {
            animation: 1s ease-in-out showSlideReverse both;
        }
    }

    & #prevButton, 
    #nextButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 3rem;
        z-index: 5;
        transition-duration: 0.5s;

        &:hover {
            cursor: pointer;
        }
    }

    & #prevButton {
        left: 0;
    }

    & #nextButton {
        right: 0;
    }
}

@keyframes showSlide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hideSlide {
    from {
        
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes showSlideReverse {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hideSlideReverse {
    from {
        
    }

    to {
        transform: translateX(100%);
    }
}

@media (max-width: 1300px) {
    #landing-slider {
        & #slide-space {
            align-items: center;
            height: 50rem;

            & #slide-battletoads {
                flex-direction: column-reverse;
                align-items: center;

                & #game-battletoads__image {
                    height: 400px;
                }
            }

            & #slide-cartridges {
                & #mapper-cartridges {
                    & .mapper-cartridges__heading {
                        font-size: 2rem;
                    }
                }
            }
        }

        & #prevButton, 
        #nextButton {
            top: auto;
        }
    }
}

@media (max-width: 650px) {
    #landing-slider {
        & #slide-space {
            height: 40rem;

            & #slide-battletoads {
                & #game-battletoads__image {
                    height: 300px;
                }

                & #game-battletoads {
                    & .game-battletoads__italic {
                        font-size: 22px;
                        padding-top: 1rem;
                    }

                    & .game-battletoads__heading {
                        font-size: 2rem;
                    }
                }
            }

            & #slide-cartridges {
                 & #mapper-cartridges {
                    & .mapper-cartridges__heading {
                        backdrop-filter: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #landing-slider {
        & #nextButton,
        #prevButton {
            display: none;
        }
    }
}