.top-game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11rem;

    & .top-game-image {
        display: flex;
        align-items: center;
        width: 100%;

        & > img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
    }

    & .top-game__title {
        font-family: brandon-grotesque, sans-serif;
        font-size: .875rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    & .top-game__players {
        font-family: brandon-grotesque, sans-serif;
        font-size: 12px;
        letter-spacing: .09375rem;
    }
}