.popular-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-color: var(--color-almost-white);
    width: 100%;
    max-height: 800px;

    & .popular-games__heading {
        font-family: "ivy-presto-headline-light";
        font-size: 40px;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: uppercase;
    }

    & .popular-games__grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-self: center;
        justify-content: center;
        gap: 0.3rem;
        max-width: 1200px;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;

        & .popular-game {
            min-height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 4px;
            text-decoration: none;
            border: 2px solid var(--color-modal-background);
            border-radius: 18px;

            & .popular-game__title {
                font-family: "ivy-presto-headline-light";
                letter-spacing: 3px;
                font-weight: 400;
                font-size: 1.2rem;
                text-decoration: none;
                width: fit-content;
                color: var(--color-almost-white);
                backdrop-filter: blur(2px);
                padding: 0.3rem;
            }
        }

        & .game-0 {
            grid-column: 1 / 4;
            background-image: url("/castlevania2.jpg");
            justify-items: center;

            & .popular-game__title {
                font-size: 1rem;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
            }
        }

        & .game-1 {
            grid-column: 4 / 8;
            background-image: url("/ducktales.webp");
            background-position: center;
            align-content: center;
            justify-items: flex-end;
            margin-left: 0.6rem;
            margin-bottom: 0.1rem;

            & .popular-game__title {
                border-bottom-right-radius: 18px;
            }
        }

        & .game-2 {
            grid-column: 1 / 6;
            background-image: url("/shadowgate.png");
            background-position: center;
            margin-right: 0.3rem;

            & .popular-game__title {
                padding: 0;
                padding-left: 0.2rem;
                border-top-left-radius: 18px;
            }
        }

        & .game-3 {
            grid-column: 6 / 8;
            background-image: url("/mariobros.webp");
            background-position: top;
            align-content: flex-end;
            justify-items: flex-end;
            margin-top: -0.2rem;

            & .popular-game__title {
                border-bottom-right-radius: 18px;
                border-bottom-left-radius: 18px;
                padding-bottom: 1rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .popular-games {
        max-height: fit-content;

        & .popular-games__grid {
            display: flex;
            flex-direction: column;
            width: 100%;

            & .popular-game {
                margin-left: 0;
                margin-right: 0;
            }

            & .game-1 {
                margin-bottom: 0;
            }

            & .game-2 {
                background-position: top;
            }

            & .game-3 {
                margin-top: 0;
            }
        }
    }
}