#carousel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.5rem;
    background: var(--color-black);
    color: var(--color-white);
    font-family: brandon-grotesque, sans-serif;

    & #slide-space {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: .125rem;
        width: 50%;

        & .inactive {
            display: none;
        }

        & .active {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-white);
            animation: fadeAnimation ease 5s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
            font-size: 13px;

            & > a {
                align-self: center;
                width: fit-content;
                color: var(--color-black);
                margin-left: 1rem;
                padding: 2px 6px 2px 8px;
                text-decoration: none;
                background-color: var(--color-white);
                border-radius: 3px;
            }
        }
    }

    & #prevButton,
    #nextButton {
        display: flex;
        cursor: pointer;
        background-color: var(--color-black);
        border: none;
        font-size: 1.2rem;

        & .arrow {
            color: var(--color-border);
            background-color: var(--color-black);

            &:hover {
                color: var(--color-white);
            }
        }
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 900px) {
    #carousel {
        justify-content: center;

        & #slide-space {
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    #carousel {
        & #slide-space {
            text-align: center;

            & .active {
                font-size: 10px;

                & > a {
                    display: none;
                }
            }
        }
    }
}