header {
    display: flex;
    flex-direction: column;
    min-height: 6rem;

    & #header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-logo-background);
        padding: 0 2rem;
        height: 100%;
    }
}

@media (max-width: 750px) {
    header {
        & #header-nav {
            flex-wrap: wrap;
            padding: 0 1rem;
        }
    }
}