#logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 100%;

    & .logo {
        width: 300px;
        border-radius: 9px;
        padding: 0;

        &:hover {
            filter: none;
        }
    }

    & .logo-mobile {
        display: none;
    }
}

@media (max-width: 700px) {
    #logo {
        margin: 0;
        height: 80%;

        & .logo {
            width: 200px;
            height: 80%;
        }
    }
}

@media (max-width: 500px) {
    #logo {
        & .logo {
            display: none;
        }

        & .logo-mobile {
            display: block;
            width: 50px;
        }
    }
}