#navbar {
    align-self: center;

    & .navbar__list {
        display: flex;
        list-style-type: none;
        gap: 3rem;
        justify-content: end;
        margin-left: 2rem;

        & .navbar__list-element {
            font-family: "regular-gibson", Helvetica, Arial, sans-serif;
            cursor: pointer;
            text-align: center;

            & a {
                text-decoration: none;
                color: var(--color-black);
            }
        }
    }
}

@media (max-width: 950px) {
    #navbar {
        .navbar__list {
            display: none;
            text-align: center;

            & .navbar__list-element {
                padding-bottom: 0.3rem;
                padding-top: 0.3rem;
            }
        }
    }
}