#navbar {
    align-self: center;

    & #hamburger {
        display: none;
    }

    & ul {
        display: flex;
        list-style-type: none;
        gap: 3rem;
        justify-content: end;
        margin-left: 2rem;

        & li {
            font-family: "regular-gibson", Helvetica, Arial, sans-serif;

            & a {
                text-decoration: none;
                color: #474849;

                & h2 {
                    font-weight: 100;
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                }
            }

            & a.active {
                color: var(--color-black);
                font-weight: 900;
                text-decoration: underline var(--color-black);
                text-decoration-thickness: 2px;
                text-underline-offset: 5px;

                & h2 {
                    font-weight: 900;
                }
            }
        }

        & a:hover {
            color: var(--color-black);
            transition: all 0.5s ease-out;
        }
    }
}

@media (max-width: 950px) {
    #navbar {
        .navbar__list {
            display: none;
            text-align: center;

            & li {
                padding-bottom: 0.3rem;
                padding-top: 0.3rem;
            }
        }

        #hamburger {
            display: flex;
            justify-content: flex-end;

            img {
                width: 1.7rem;
            }

            & :hover {
                cursor: pointer;
            }
        }

        .showmenu {
            display: block;
            position: absolute;
            margin-top: 11.3rem;
            background: var(--color-white);
            height: fit-content;
            padding-bottom: 2rem;
            padding-top: 2rem;
            left: -32px;
            top: -7px;
            right: 0;

            & :hover {
                background-color: #f0eaf1;
            }
        }
    }
}

@media (max-width: 700px) {
    #navbar {
        .showmenu {
            margin-top: 9.3rem;
        }
    }
}