#nav-icons {
    display: flex;
    position: relative;
    margin-right: 2rem;

    & #icons-navbar {
        display: flex;

        & #icons-navbar__list {
            display: flex;
            gap: 1.6rem;
            list-style: none;

            & .icons-navbar__list-element {
                &:hover {
                    cursor: pointer;
                }

                & .material-symbols-outlined {
                    position: relative;

                    & #favourite-games {
                        position: absolute;
                        width: 0.8rem;
                        height: 0.8rem;
                        top: -5px;
                        right: -5px;
                        background-color: green;
                        border-radius: 100%;
                    }
                }
            }
        }
    }

    & .hide-my-account-menu {
        display: none;
    }

    & .show-my-account-menu {
        display: flex;
    }

    & #my-account-menu {
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 80;
        background-color: var(--color-white);
        padding: 1rem;
        box-shadow: -0.15rem .15rem .6rem rgba(0, 0, 0, .2);
        border: 1px solid var(--color-border);
        font-family: "regular-gibson", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 100;

        & #account-actions {
            display: flex;
            align-self: center;
            justify-content: center;
            width: 100%;
            gap: 1rem;

            & #loginLink,
            #registerLink {
                text-decoration: none;

                &:visited {
                    color: var(--color-white);
                }

                &:hover {
                    color: var(--color-black);
                }
            }
        }

        & #my-account-menu__list,
         #my-account-menu__heading {
            padding: 0 1rem;
            line-height: 1.45;
            text-align: left;
            text-wrap: nowrap;
            color: var(--color-black);
        }

        & #my-account-menu__heading {
            font-size: 1.2rem;
            padding: 1rem 0 0.2rem;
            font-weight: 400;
            color: var(--color-text-heading);
        }
    }
}

@media (max-width: 700px) {
    #nav-icons {
        margin-right: 1rem;
    }
}