#search-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 100%;

    & #search-inner-content {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        gap: 10rem;
        background-color: var(--color-logo-background);
        width: 100%;
        border-bottom: .0625rem solid #f0f0f0;

        & #search-recommendations {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            flex: 3;

            & #search-area {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
                padding: 2rem;

                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-results-button,
                input[type="search"]::-webkit-search-results-decoration { display: none; }

                input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
                input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

                & #search-area__input {
                    border: none;
                    border-bottom: .0625rem solid var(--color-black);
                    font-size: 1.125rem;
                    font-family: brandon-grotesque, sans-serif;
                    min-height: 3.125rem;
                    line-height: 3.15;
                    letter-spacing: .08125rem;
                    width: 50%;
                    outline: none;
                    color: var(--color-search-text);
                    background-color: var(--color-logo-background);
                }
            }

            & #top-games,
            #matching-games {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
                width: 100%;
                height: 100%;
                gap: 2rem;

                & #top-games__heading,
                #matching-games__heading {
                    font-family: brandon-grotesque, sans-serif;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: var(--color-black-light);
                }

                & #top-games__cards,
                #matching-games__cards {
                    display: flex;
                    gap: 4rem;
                }
            }
        }

        #shadow {
            height: 8px;
            width: 100%;
            position: absolute;
            bottom: -8px;
            box-shadow: 0 0 1.25rem 0 #404040;
        }
    }

    & .accordion-panel {
        display: flex;
        height: 0;
        overflow: hidden;
        transition: height 0.15s;
    }

    & .dropdown {
        height: 30rem;
        z-index: 30;
        overflow: hidden;
        transition: height 0.5s;
    }
}

@media (max-width: 700px) {
    #search-dropdown {
        & #search-inner-content {
            gap: 1rem;

            & #search-recommendations {
                & #search-area {
                    flex-direction: column;

                    & #search-area__input {
                        width: 100%;
                        font-size: 1rem;
                    }
                }

                & #top-games,
                #matching-games {
                    & #top-games__cards,
                    #matching-games__cards {
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 2rem;
                    }
                }
            }
        }

        & .dropdown {
            height: fit-content;
            padding-bottom: 2rem;
        }
    }
}