.top-game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    max-width: 200px;

    & .game-image {
        display: flex;
        align-items: center;
        width: 100%;

        & > img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
    }

    & .top-game__title {
        font-family: brandon-grotesque, sans-serif;
        font-size: .875rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }
}