#controllerModal {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    border-radius: 6px;
    background-color: var(--color-modal-background);
    scrollbar-width: none;

    & .modal-text {
        font-size: 2rem;
        text-align: center;
        margin: 3rem;
        margin-bottom: 2rem;
    }

    & .modal-content {
        display: flex;
        flex-direction: column;
        
        & .controllers {
            display: flex;
            align-self: center;
            gap: 5rem;

            .controller-input {
                margin: 1rem;
                width: 120px;
            }
        }

        & .dialog-buttons {
            display: flex;
            justify-content: space-between;
            padding: 2rem;
        }
    }

    .message-failure {
        width: fit-content;
        align-self: center;
        margin: 0;
    }
}

@media (max-width: 700px) {
    #controllerModal {
        & .modal__text {
            font-size: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}