#controllerModal {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    border-radius: 6px;
    background-color: var(--color-modal-background);
    scrollbar-width: none;

    & .modal-text {
        font-size: 2rem;
        text-align: center;
        margin: 3rem;
        margin-bottom: 2rem;
        color: var(--color-almost-white);
    }

    & .modal-content {
        display: flex;
        flex-direction: column;
        
        & .controllers {
            display: flex;
            align-self: center;
            gap: 5rem;

            & .player1-controller {
                color: var(--color-player-1);

                .form__field-label {
                    color: var(--color-player-1);
                }
            }

            & .player2-controller {
                color: var(--color-player-2);

                .form__field-label {
                    color: var(--color-player-2);
                }
            }
        }

        & .dialog-buttons {
            display: flex;
            justify-content: space-between;
            padding: 2rem;
        }
    }

    .message-failure {
        font-family: 'Inter';
        color: var(--color-message-failure);
        width: fit-content;
        align-self: center;
        margin: 0;
    }
}

@media (max-width: 700px) {
    #controllerModal {
        & .modal__text {
            font-size: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}