.divider-dark {
    background-color: var(--color-black);
    width: 100%;
    margin: 0;

    & .divider-row {
        max-width: 1440px;
        margin: auto;

        & .divider-line {
            background: linear-gradient(90deg, hsla(0, 0%, 9%, 0), #171717 25%, #171717 75%, hsla(0, 0%, 9%, 0));
            box-shadow: inset 0 -2px 1px 0 hsla(0, 0%, 100%, .1);
            height: 4px;
            width: 100%;
        }
    }
}