#footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: left;

    & .footer-list__heading {
        color: var(--color-white);
        font-size: 1rem;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        font-family: "regular-gibson";
        letter-spacing: 2px;
    }

    & .footer-list__element {
        color: var(--color-border);
        font-size: 0.95rem;
        text-decoration: none;
        font-family: brandon-grotesque, sans-serif;

        &:hover {
            color: var(--color-white);
        }
    }
}