#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .app-title {
        font-family: "brandon-regular";
        font-size: 2.25rem;
        font-weight: 100;
        line-height: 2.8125rem;
        letter-spacing: .125rem;
    }

    & canvas {
        margin: 2rem 0;
        background: #eee;
        width: 768px;
        height: 720px;
        align-self: center;
    }
}