@font-face {
    font-family: "regular-gibson";
    src: url("./static/fonts/gibson-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

:root {
    --color-white: #F0F0F0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

#root, main {
    display: flex;
    min-width: 100vw;
    height: 100%;
}