@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&family=Baskervville+SC&family=Inter');

@font-face {
    font-family: "regular-gibson";
    src: url("./static/fonts/gibson-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

:root {
    --color-black: black;
    --color-white: white;
    --color-almost-white: #f0f0f0;
    --color-player-1: rgb(231 10 10);
    --color-player-2: rgb(10 231 95);
    --color-border: #cac1c1;
    --color-modal-background: #19251F;
    --color-message-failure: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

#root, main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#root {
    min-width: 100vw;
}

.bit-font {
    font: 1.4rem "Press start 2P";
    font-weight: 700;
}



/**********
* BUTTONS *
**********/

.retro-button {
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding: 0.5rem;
    letter-spacing: 1px;
    width: fit-content;
    box-shadow: 0.15rem 0 0.5rem rgba(0, 0, 0, .2);
    color: var(--color-white);
    background-color: var(--color-black);
    transition-duration: 0.3s;

    &:hover {
        cursor: pointer;
        color: var(--color-black);
        background-color: var(--color-white);
        transition-duration: 0.3s;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
        color: var(--color-white);
        background-color: var(--color-black);

        &:hover {
            color: var(--color-white);
            background-color: var(--color-black);
        }
    }
}




/*********
* Modals *
*********/

::backdrop {
    background-image: linear-gradient(
        45deg,
        var(--color-white),
        var(--color-black),
        var(--color-black),
        var(--color-white)
    );
    opacity: 0.75;
}






/*************************
* Various Input Elements *
*************************/

.controller-input {
    width: 120px;
    border: 1px solid rgba(255, 255, 255, .25);
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px #00000026;
    border-radius: 2px;
    transition: all .3s;

    & .form__field {
        width: 120px;
        height: 38px;
        font-weight: 300;
        background: rgba(100, 100, 100, .05);
        backdrop-filter: blur(10px);
        color: var(--color-white);
        border: none;
        font-size: 1rem;
        letter-spacing: .5px;
        outline: none;
        padding-left: 12px;
    }

    & .form__field-label {
        color: var(--color-white);
        text-transform: uppercase;
        margin-left: 8px;
        font-size: .63rem;
        font-weight: 300;
        padding: 0 4px;
    }

    &:hover,
    &:focus {
        background: rgba(255, 255, 255, .1);
        transition: all .3s;
    }
}

.missing {
    border-color: var(--color-message-failure);
}
