@font-face {
    font-family: "regular-gibson";
    src: url("./static/fonts/gibson-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

:root {
    --color-black: black;
    --color-white: white;
    --color-border: #cac1c1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

#root, main {
    display: flex;
    min-width: 100vw;
    height: 100%;
}





/**********
* BUTTONS *
**********/

.retro-button {
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding: 0.5rem;
    letter-spacing: 1px;
    width: fit-content;
    box-shadow: 0.15rem 0 0.5rem rgba(0, 0, 0, .2);
    color: var(--color-white);
    background-color: var(--color-black);
    transition-duration: 0.3s;

    &:hover {
        cursor: pointer;
        color: var(--color-black);
        background-color: var(--color-white);
        transition-duration: 0.3s;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
        color: var(--color-white);
        background-color: var(--color-black);

        &:hover {
            color: var(--color-white);
            background-color: var(--color-black);
        }
    }
}