@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&family=Lato");
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&family=Baskervville+SC&family=Inter');

@font-face {
    font-family: "regular-gibson";
    src: url("./static/fonts/gibson-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "brandon-grotesque";
    src: url("./static/fonts/brandon-grotesque-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "ivy-presto-headline-light";
    src: url("./static/fonts/ivy-presto-headline-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "cf-gibson";
    src: url("./static/fonts/gibson-bold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "itc-avant-garde-gothic-bold";
    src: url("./static/fonts/itc-avant-garde-gothic-bold.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "itc-avant-garde-gothic-medium";
    src: url("./static/fonts/itc-avant-garde-gothic-medium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

:root {
    --color-almost-white: #f0f0f0;
    --color-black: black;
    --color-black-light: #2c2c2c;
    --color-border: #cac1c1;
    --color-contact-icon: #C6A463;
    --color-footer-text: #7D888C;
    --color-form-border: rgba(255, 255, 255, .25);
    --color-form-border-bottom: #6b6767;
    --color-logo-background: #f9f9f9;
    --color-message-failure: red;
    --color-modal-background: #19251F;
    --color-player-1: rgb(231 10 10);
    --color-player-2: rgb(10 231 95);
    --color-search-text: #495057;
    --color-star-orange: #F2C265;
    --color-star-gray: #a9a9a9;
    --color-text-heading: #D23C3C;
    --color-white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

#root, main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#root {
    min-width: 100vw;
}






/********
* FONTS *
********/

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.bit-font {
    font: 1.4rem "Press start 2P";
    font-weight: 700;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}






/**********
* BUTTONS *
**********/

.retro-button {
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding: 0.5rem;
    letter-spacing: 1px;
    width: fit-content;
    box-shadow: 0.15rem 0 0.5rem rgba(0, 0, 0, .2);
    color: var(--color-white);
    background-color: var(--color-black);
    transition-duration: 0.3s;

    &:hover {
        cursor: pointer;
        color: var(--color-black);
        background-color: var(--color-white);
        transition-duration: 0.3s;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
        color: var(--color-white);
        background-color: var(--color-black);

        &:hover {
            color: var(--color-white);
            background-color: var(--color-black);
        }
    }
}

.play-button {
    font-family: "brandon-grotesque";
    width: fit-content;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 64.5px;
    padding: 1rem 2rem;
    font-weight: 450;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.sendButton {
    color: var(--color-white);
	transition: all 0.3s;
	position: relative;
    height: 3rem;
    cursor: pointer;
    background: rgba(255, 255, 255, .025);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, .25);
    text-transform: uppercase;

    & .sendButton__text {
        font-size: 1rem;
        font-family: "regular-gibson";
        color: var(--color-heading);
        letter-spacing: 1px;
        transition: all 0.3s;
    }

    &:hover {
        border: none;
        filter: brightness(1.4);
    }

    &:disabled {
        filter: brightness(0.5);
        transform: none;
        border: none;

        &:hover {
            cursor: default;
        }
    }
}







/*********
* Modals *
*********/

::backdrop {
    background-image: linear-gradient(
        45deg,
        var(--color-white),
        var(--color-black),
        var(--color-black),
        var(--color-white)
    );
    opacity: 0.75;
}






/*************************
* Various Input Elements *
*************************/

.controller-input {
    width: 120px;
    border: 1px solid rgba(255, 255, 255, .25);
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px #00000026;
    border-radius: 2px;
    transition: all .3s;

    & .form__field {
        width: 120px;
        height: 38px;
        font-weight: 300;
        background: rgba(100, 100, 100, .05);
        backdrop-filter: blur(10px);
        color: var(--color-white);
        border: none;
        font-size: 1rem;
        letter-spacing: .5px;
        outline: none;
        padding-left: 12px;
    }

    & .form__field-label {
        color: var(--color-white);
        text-transform: uppercase;
        margin-left: 8px;
        font-size: .63rem;
        font-weight: 300;
        padding: 0 4px;
    }

    &:hover,
    &:focus {
        background: rgba(255, 255, 255, .1);
        transition: all .3s;
    }
}

.missing {
    border-color: var(--color-message-failure);
}







/********
* FORMS *
********/

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control__label {
    font-family: brandon-grotesque, sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: .0575rem;
    text-transform: uppercase;
    color: var(--color-black);
    text-align: left;
    margin-bottom: 0.3rem;
}

.form-control {
    padding: 1rem;
    font-size: .8125rem;
    border: .0625rem solid var(--color-border);
    font-family: brandon-grotesque, sans-serif;
    letter-spacing: .0625rem;
    margin-bottom: .3125rem;
    line-height: 1;
    height: auto;
    outline: none;
}